@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --col-fg1: #fff;
    --col-fg2: #bbb;
    --col-fg3: #000;
    --col-fg4: #555;

    --col-bg1: #1A1B20;
    --col-bg2: #131419;
    --col-bg3: #fff;
    --col-bg4: #bbb;
    --col-bg5: #050F16;

    --col-fg-active-1: #0A7AFF;
    --col-fg-active-2: #0A7AFF33;
    --col-bg-active-1: #0A7AFF33;
    --col-bg-active-2: #0A7AFF;

    --col-fg-on-1: #00E774;
    --col-fg-on-2: #009444;
    --col-bg-on-1: #00E77433;
    --col-bg-on-2: #00E774;

    --col-solid: #7C4DFF;
    --col-alert: #f33;

    --col-trans: #0000;
}

@layer base {
.rgb-1 { color: var(--col-fg1); }
.rgb-2 { color: var(--col-fg2); }
.rgb-3 { color: var(--col-fg3); }

.rgb-bg-1 { background-color: var(--col-bg1); }
.rgb-bg-2 { background-color: var(--col-bg2); }
.rgb-bg-3 { background-color: var(--col-bg3); }
.rgb-bg-4 { background-color: var(--col-bg4); }
.rgb-bg-5 { background-color: var(--col-bg5); }

.rgb-active-1 { color: var(--col-fg-active-1); }
.rgb-active-2 { color: var(--col-fg-active-2); }
.rgb-bg-active-1 { background-color: var(--col-bg-active-1); }
.rgb-bg-active-2 { background-color: var(--col-bg-active-2); }

.rgb-on-1 { color: var(--col-fg-on-1); }
.rgb-on-2 { color: var(--col-fg-on-2); }
.rgb-bg-on-1 { background-color: var(--col-bg-on-1); }
.rgb-bg-on-2 { background-color: var(--col-bg-on-2); }

.rgb-solid { color: var(--col-solid); }
.rgb-alert { color: var(--col-alert); }
.rgb-bg-tr { background-color: var(--col-trans); }
.rgb-bg-solid { background-color: var(--col-solid); }
}
