.sw-fs-1
{
  font-size: 36px;
}

.sw-fs-2
{
  font-size: 21px;
}

.sw-fs-3
{
  font-size: 17px;
}

.sw-fs-4
{
  font-size: 14px;
}

.sw-fw-1
{
  font-weight: 700;
}

.sw-fw-2
{
  font-weight: 500;
}

.sw-fw-3
{
  font-weight: 400;
}
