@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap');
@import "tailwind.css";
@import "colors.css";
@import "fonts.css";

::selection
{
  background-color:   #09f9;
}

#root
{
  height: 100%;
}

/* NOTE(Elias): Base HTML tags */

body::-webkit-scrollbar
{
  display: none;
}

html, body
{
  -ms-overflow-style: none;
  scrollbar-width:    none;
  height:             100vh;
  font-family:		  'Inter', sans-serif;
  font-weight:        400;
  font-size:          13px;
  background-color:	  var(--col-bg1);
  color:			  var(--col-fg1);
}

input, button, a
{
	all: unset;
}

a:hover
{
  color:              var(--col-fg2) !important;
  text-decoration:    none !important;
}

/* NOTE(Elias): Utility tags */

.rounded-max
{
	border-radius: 120px;
}

/* NOTE(Elias): sw tags */

.sw-border
{
  border: 1px solid var(--col-fg4);
  border-radius: 3px;
}

.sw-btn
{
	@apply font-bold;
	@apply py-2 px-4;
	border-radius: 3px;
	@apply text-center;
	color: var(--col-fg3);
	background-color: var(--col-bg3);
}

.sw-btn:hover
{
	background-color: var(--col-bg4);
}

.sw-btn:active
{
	color: var(--col-fg2);
	background-color: var(--col-bg2);
}

.sw-input
{
	text-align: left;
	background-color: var(--col-bg2);
	border: 2px solid var(--col-fg2);
	border-radius: 3px;
	padding: 4px 6px;
	margin: 0;
}

.sw-hr
{
	padding: 0px 0px;
	margin: 12px 0px;
	border: 1px solid var(--col-bg4);
}

.sw-card-pressable
{
	@apply font-bold;
	@apply text-center;
	border-radius: 3px;
}

.sw-card-pressable:hover
{
	background-color: var(--col-bg1);
}

.sw-card-pressable:active
{
	color: var(--col-fg3);
	background-color: var(--col-bg3);
}
