@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

@import "tailwind.css";
@import "colors.css";
@import "fonts.css";

::selection
{
  background-color:   #09f9;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: var(--col-trans);
    border-radius: 360px;
}

::-webkit-scrollbar-thumb {
    background: var(--col-fg4);
    border-radius: 360px;
}

#root
{
  height: 100%;
}

/* Base HTML tags */

body::-webkit-scrollbar
{
  display: none;
}

html, body
{
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 13px;
  background-color: var(--col-bg1);
  color: var(--col-fg1);
  scroll-behavior: smooth;
}

input, button, a
{
  all: unset;
}

div
{
    box-sizing: border-box;
}


a
{
  @apply cursor-pointer;
}

a:hover
{
  color: var(--col-fg2) !important;
  text-decoration: none !important;
}

/* Utility tags */

.rounded-max
{
  border-radius: 360px;
}

/* sw tags */

.sw-emoji {
    font-family: 'Noto Color Emoji', sans-serif;
}

.sw-border
{
  border-width: 1px;
  border-color: var(--col-fg4);
  border-radius: 8px;
}

.sw-border-error
{
  border-width: 1px;
  border-color: var(--col-fg-alert);
  border-radius: 8px;
}

.sw-btn
{
  @apply font-bold;
  @apply py-2 px-4;
  border-radius: 3px;
  @apply text-center;
}

.sw-btn
{
    @apply cursor-pointer;
}

.sw-btn-1
{
  color: var(--col-fg1);
  background-color: var(--col-bg-active-2);
}

.sw-btn-1:hover
{
  background-color: var(--col-bg-active-1);
}

.sw-btn-1:active
{
  color: var(--col-fg2);
  background-color: var(--col-bg2);
}

.sw-btn-2
{
  color: var(--col-fg3);
  background-color: var(--col-bg3);
}

.sw-btn-2:hover
{
  background-color: var(--col-bg4);
}

.sw-btn-2:active
{
  color: var(--col-fg2);
  background-color: var(--col-bg2);
}

.sw-btn-alert
{
  color: var(--col-fg1);
  background-color: var(--col-fg-alert);
}

.sw-btn-alert:hover
{
  background-color: var(--col-bg-alert-1);
}

.sw-btn-alert:active
{
  color: var(--col-fg2);
  background-color: var(--col-bg2);
}

.sw-btn-player:hover
{
    color: var(--col-fg1);
}

.sw-btn-loading
{
  @apply py-2 px-4;
  border-radius: 3px;
  background-color: var(--col-bg2);
}

.sw-input
{
  border: 1px solid var(--col-fg4);
  text-align: left;
  background-color: var(--col-bg2);
  border-radius: 3px;
  padding: 4px 6px;
  margin: 0;
  box-sizing: border-box;
}

.sw-input-error
{
  border: 1px solid var(--col-alert);
  text-align: left;
  background-color: var(--col-bg2);
  border-radius: 3px;
  padding: 4px 6px;
  margin: 0;
  box-sizing: border-box;
}

.sw-hr
{
  padding: 0px 0px;
  margin: 12px 0px;
  border: 1px solid var(--col-bg4);
}

.sw-text-gradient
{
    @apply bg-gradient-to-r;
    @apply from-indigo-500;
    @apply to-[#d9a12A];
    @apply bg-clip-text;
    @apply text-[#aaa8];
    @apply inline-block;
    @apply w-fit;
}

.sw-bg-gradient-1
{
    @apply bg-gradient-to-r;
    @apply from-indigo-500;
    @apply to-[#d9a12A];
}

.sw-bg-gradient-2
{
    @apply bg-gradient-to-br;
    @apply from-[#000];
    @apply to-[#131419];
}
